@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


:root{
    --black: black;
    --white: white;
    --dark-blue: #282a3c;
    --bg-color: #171b22;
    --tint-blue: #61dafb;
    --white-smoke: whitesmoke;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

.Bisu{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    top: 0;
    left: 0;
    margin-bottom: 3rem;
    width: 100%;
    height: auto;
    gap: 2rem;
    background-color: var(--bg-color);
}

.carousel{
    width: 70vw;
    height: 50vh;
    background-color: var(--dark-blue);
}

.info-area{
    display: flex;
    flex-direction: column;
    text-align: justify;
    gap: 2rem;
    padding: 2rem;
    width: 90vw;
    height: auto;
}

.info-area .desc h2{
    font-size: 1.3rem;
    font-weight: 500;
    color: rgb(200, 200, 200);
}

.info-area .desc ul li{
    margin-top: .5rem;
    margin-left: 3rem;
    color: rgb(200, 200, 200);
}

.info-area .respo h2{
    font-size: 1.3rem;
    font-weight: 500;
    color: rgb(200, 200, 200);
}

.info-area .respo ul li{
    margin-top: .5rem;
    margin-left: 3rem;
    color: rgb(200, 200, 200);
}

.info-area .respo ul li span{
    font-weight: 500;
    color: var(--tint-blue);
}